
# Core
numpy==1.26.4
pandas==1.5.3
Pillow==9.5.0
requests==2.31.0
tqdm==4.66.4
gdown==4.7.1

# Deep learning
tensorflow-cpu==2.15.0
keras==2.15.0
mtcnn==0.1.0
retina-face==0.0.13
deepface==0.0.93
opencv-python-headless==4.9.0.80

# Web & API
Flask==2.2.5
flask_cors==4.0.1
gunicorn==20.1.0
fire==0.5.0

# ChromaDB and viewer
chromadb==0.4.24
streamlit==1.47.0
